.body {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35%;
    background-color: white;
    border-radius: 10px;
    display: flex;

}

.card_img {
    height: 60vh;
    width: 187%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    background-image: url("./images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card_content {
    display: grid;
    gap: 12px;
    padding: 5% 5%;
}

.sub_title {
    letter-spacing: .3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.title {
    font-size: 1.9rem;
    padding-right: 20px;
    line-height: 1;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.description {
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
}

.price_row {
    display: flex;
    align-items: center;
}

.price {
    font-size: 1.9rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    color: hsl(158, 36%, 37%);
}

.discount {
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 20px;
}

.cart_button {
    background-color: hsl(158, 36%, 37%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px 0;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

.cart_button:hover {
    background-color: #1A4031;
}

@media (max-width: 769px) {
    .card_img {
        width: 100%;
        height: 30vh;
        border-radius: 10px 10px 0px 0px;
        background-image: url("./images/image-product-mobile.jpg");
    }
    .card_content {
        display: grid;
        gap: 18px;
        padding: 5% 5%;
    }
    .card {
        flex-direction: column;
        width: 95%;
    }
    .cart_button {
        padding: 15px 0;
    }
}
@media (width: 1024px) {
    .card_img {
        height: 47vh;
    }

    .card {
        width: 50%;
    }
    .cart_button {
        padding: 15px 0;
    }
}
@media (width: 1440px) {
    .card_img {
        height: 50vh;
        width: 50%;
    }

    .card {
        width: 40%;
    }
    .card_content {
        width: 50%;
    }
    .cart_button {
        padding: 15px 0;
    }
}
@media (width: 2560px) {
    .card_img {
        height: 65vh;
        width: 75%;
        
    }
}